*{
    padding: 0;
    margin: 0;
}



body{
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.975) 0%, rgb(0, 0, 0) 100%);
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    transition: 1s ease;
}


/*nosotros*/
.nav-nosotros i{
    color: black;
}

.navegadorInfo .nav-nosotros{
    color: black;
}

.fondoNosotros{
    background: white;
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    height: 100%;
}

.article{
    display: flex;
    padding-top: 30px;
    width: 100%;
}


.columna1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    padding: 7%;
    padding-left: 13%;
}

.columna2{
    display: flex;
    flex-direction: column;
    justify-content:right;
    width: 30%;
    padding-top: 10%;
}



.miniColumna{
    display: flex;
}

.miniColumna1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.miniColumna2{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.titulo1{
    padding-left: 10px;
    font-size: 45px;
    text-shadow: none;
}

.columna1 p{
    font-weight: initial;
}

.columna2 p{
    font-weight: initial;
}

.titulo2{
    font-size: 30px;
}

.lista1, .lista2{
    
    padding-left: 30px;
}

.link-nosotros{
    color: rgb(0, 76, 218);
    font-weight: 500;
}

.link-nosotros:hover{
    text-decoration: underline;
}

.lista1 li a:hover{
    text-decoration: underline;
}


.lista1 li{
    font-weight:initial;
}

.lista2 li{
    font-weight:initial;
}

.titulo3{
    font-size: 17px;
    font-style: italic;
}

@media (max-width: 900px){

    .article{
        display: grid;
        grid-template-columns: 1;
        padding-left: none;
    }

    .columna1{
        width: 70%;
        margin-top: 20px;
        position: relative;
    }

    .columna2{
        padding-left: 13%;
        width: 65%;
        padding-bottom: 35px;
        padding-top: 0px;

    }
}

/*ayuda*/
.headerAyuda{
    padding-bottom: 30px;
}


.navegadorInfo{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
}

.navegadorInfo ul{
  
    display: flex;
    list-style: none;
}

.navInfo li{
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    margin: 25px;
    font-size: 150%;
}

.navInfo li:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
}

.LogonavInfo img{
    width: 70px;
}

.LogonavInfo{
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.LogonavInfo:hover{
    -webkit-transform:scale(1.0);transform:scale(1.07);
}

.navegadorInfo a{
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
  
}


.fondoAyuda{
    background: linear-gradient(0deg, rgba(0,0,0,1) -100%, rgb(22, 72, 125) 100%);
    color: white;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    height: 100%;
}

.articulo1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 5%;
}

.search-box{
    background-color: white;
    min-width: 35%;
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    min-width: 520px;
   
}

.search-box input{
    width: 100%;
    padding: 7px;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    height: 40px;
    font-size: 15px;
    cursor:auto;
}

.search-box button{
    border: none;
    cursor: pointer;
}


.search-box i{
    border: none;
    text-decoration: none;
    background-color: white;
    outline: none;
    display: flex;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.701);
    font-size: 25px;
    padding: 9px;
}

.text2{
    padding: 10px;
    font-size: 260%;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
}

.text1{
    font-weight: 400;
}

.imagenesAyuda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fila1{
    display: flex;
    flex-direction: column;
    padding: 15px;
    row-gap: 20px;
}



.fila2{
    display: flex;
    flex-direction: column;
    padding: 15px;
    row-gap: 20px;
}

.articulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    background: rgb(0,19,48);
background: linear-gradient(180deg, rgba(0,19,48,1) 0%, rgba(0,0,0,1) 76%);
    color: white;
    text-align: left;
}

.articulo2 a:hover{
    color: rgba(97, 180, 243, 0.575);
}

.links{
    text-decoration: none;
    color: white;
}

.imagenesAyuda img:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);
}

.search-box i:hover{
    -webkit-transform:scale(1.3);transform:scale(0.9);
}

.imagenesAyuda img{
    border-radius: 10px;
}


@media (max-width: 560px){
    .search-box {
        min-width: 80%;
    }
    .search-box input {
        min-width: 70%;
    }
    *{
        font-size: 97%;
    }

  
}

@media (max-width: 760px){
    .LogonavInfo img{
        width: 50px;
    }
}

/*ayuda1*/

.fondoAyudaLinks{
    color: white;
    background: linear-gradient(0deg, rgba(0,0,0,1) -50%, rgb(24, 81, 142) 100%);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    height: 100%;
}

.grid-ayuda{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    
}


.item-ayuda{
    grid-row: 1/2;
    grid-column: 2;
    background: radial-gradient(circle, rgba(1, 61, 103, 0.693) 0%, rgba(0, 0, 0, 0.293) 100%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.685);
    border-radius: 15px;
    padding: 15px;
    margin-top: 30%;
    min-width: 450px;
    
    
    
}

.item-ayuda p{
    font-weight: 350;
}

.item2-ayuda{
    grid-row: 2;
    grid-column: 2;
    padding-top: 30px;
    
}

.item-ayuda h1{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.57);
    padding-left: 5px;
}

.item2-ayuda 
.item2-ayuda2
.item2-ayuda3, p{
    font-weight:350;
}

.item3-ayuda input{
    font-size: 80%;
    color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: 50px;
    background: rgba(1, 0, 11, 0.266);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.56);
    border: none;
    cursor: pointer;
}

.item3-ayuda input:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);
    border-color: white;
}

.item-ayuda
.item-ayuda2
.item-ayuda3,
h1{
    font-size: 200%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.57);
}

.item-ayuda2 h1{
    padding-left: 10px;
}

.item3-ayuda{
    padding-top: 5px;
    
}



@media (max-width: 700px){
    .item-ayuda{
        min-width: 300px;
    }

    .grid-ayuda .paises-min{
        min-width: 300px;
    }
}


.titulos-ayuda{
    font-size: 200%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 800;
    font-weight: 700 !important;
}


.item-ayuda2 ul{
    padding-left: 25px;
}


.item-ayuda2{
    grid-row: 1/3;
    grid-column: 2;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20%;
    min-width: 400px;
    background: radial-gradient(circle, rgba(1, 61, 103, 0.693) 0%, rgba(0, 0, 0, 0.293) 100%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.685);
}

.item-ayuda3{
    grid-row: 1/3;
    grid-column: 2;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20%;
    min-width: 550px;
    padding-bottom: 30px;
    background: radial-gradient(circle, rgba(1, 61, 103, 0.693) 0%, rgba(0, 0, 0, 0.293) 100%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.685);
}

@media (max-width: 750px){
    .item-ayuda3 {
        min-width: 300px;
    }
}

.item2-ayuda2{
    grid-row: 3;
    grid-column: 2;
    padding-top: 30px;
    padding-bottom: 30%;
}

.item-ayuda2 p{
    font-weight: 350;
}

.item-ayuda2 ul li{
    font-weight: 350;
}

.item-ayuda3 h1, h2, p, ul{
    padding: 10px;
}

.item2-ayuda3{
    grid-row: 3;
    grid-column: 2;
    padding-top: 30px;
    padding-bottom: 30%;
}

.item-ayuda3 ul, ol{
    font-weight: 350;
    padding-left: 35px;
}

.item-ayuda3 p{
    font-weight: 350;
}

.item-ayuda3 h2{
    font-weight: 700;
    font-size: 170%;
}

.item3-ayuda {
    margin-left: 10px;
}

/*ayuda con la cuenta*/
.articulo1 a{
    text-decoration: none;
    color: white;
    
}

.AyudaCuenta1{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    justify-items: center;
    padding-top: 200px;
    height: 100vh;
}


.AyudaCuenta2 a{
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.AyudaCuenta2 a:hover{
    text-decoration: underline;
}

.AyudaCuenta4{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding: 10px 10px;
    align-items: center;
}

.AyudaCuenta4 i{
    font-size: 75%;
}

.AyudaCuenta2 h1{
    padding-bottom: 50px;
    font-size: 300%;
}

@media (max-width: 750px){
    .AyudaCuenta4 i{
        font-size: 65%;
    }

    .AyudaCuenta2 h1{
        font-size: 200%;
    }
}

.AyudaCuenta2 .fa-person-digging{
    font-size: 800%;
    display: flex;
    justify-content: center;
}

.AyudaInicio{
    width: 60px;
    height: 25px;
    margin-left: 10px;
}

.AyudaCuenta2 .AyudaInicio:hover{
    -webkit-transform:scale(1);transform:scale(1.06);
    text-decoration: none;
}

/*pagina de inicio*/

.nav-derecha {
    display: flex;
    justify-content: center;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(74, 0, 0) 100%);
    position:fixed; 
    top: 0; 
    right: 0;
    border-radius: 10px;
    margin: 5px;
    width: 60px;
    align-items:start;
    margin-bottom: -5px;
    padding-bottom: 10px;
}
  
.nav-derecha ul {
    list-style: none;
    padding: 0;
    
}
  
.nav-derecha ul i{
    font-size: 150%;
    text-shadow: rgb(0, 0, 0) 1px 1px 4px;
    
}

.nav-derecha ul li {
    padding-bottom: 30px;
    padding-top: 50px;
    font-size: 90%;
}
  
.nav-derecha ul li a {
    color: white; 
    text-decoration: none;
}
  
.nav-derecha ul i:hover {
    -webkit-transform:scale(1);transform:scale(1.3);
}

.mainIndex{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;
    margin-top: 50px;
    color: white;
    padding-right: 65px;
}

.Index1 {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(63, 0, 0) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.nav-arriba{
    margin-right: 5px;
    height: 40px;
    background: rgb(62, 1, 1);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.668) -60%, rgba(82, 1, 1, 0.778) 100%);
    border-radius: 10px;
    position: fixed;
    width: calc(100% - 75px);
    top: 5px;
    color: white;
    display: flex;
    align-items: center;
    z-index: 999;
    overflow: hidden;
    white-space: nowrap;
}

.marqueeNav {
    width: 100%;
    display: inline-block;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    
    100% {
      transform: translateX(calc(-30%));
    }
  }



.logo-index {
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(73, 6, 6, 0.6) 0%, rgba(46, 7, 7, 0.751) 100%);
    display: flex;
    align-items: end;
    transition: 1s ease-in;
}

.logo-index img{
    max-width: 200px;
    height: auto;
    filter: hue-rotate(95deg);
    border-radius: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.904);
    
}

.titulo-index{
    font-size: 50px;
    text-shadow: 2px 2px 9px #0000009a;
    padding-left: 8px;
}

.logo-index1 p{
    font-size: 15px;
    text-shadow: 2px 2px 9px #0000009a;
}

.lista-index{
    /*background-color: red;*/
    margin: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.151);
    padding-bottom: 20px;
}

.artistas-populares{
    /*background-color: blue;*/
    width: 250px;
}

.artistas-populares a{
    text-decoration: none;
    color: white;
}

.artistas-populares h2{
    font-size: 150%;
    text-shadow: 2px 2px 9px #0000005d;
}

.item-index a{
    text-shadow: 2px 2px 9px #0000005d;
    color: white;
    text-decoration: none;
    display: grid;
    padding: 5%;
    justify-items: center;
    
}

.item-index{
    text-align: center;
}

.item-index .nombre-artista {
    margin-top: -12px;
}

.logo-index1{
    padding-left: 5px;
}

.item-index a:hover{
    background-color: rgba(255, 255, 255, 0.077);
    box-shadow: rgba(0, 0, 0, 0.336) 1px 1px 4px;
    border-radius: 10px;
    -webkit-transform:scale(1);transform:scale(1.03);
}

.lista-index1 .item-index img{
    box-shadow: rgba(0, 0, 0, 0.336) 1px 1px 4px;
}

.item-index img{
    border-radius: 50%;
    width: 100%;
    height: auto
    
}

.item-index .index-album{
    border-radius: 15px;
}

.lista-index1{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 5px;
}


.lista-index1 .item-index{
    align-items: center;
    justify-content: center;
}

.item-index .titulo-foto-index{
    font-size: 110%;
    font-weight: 400;
}

.item-index .nombre-artista{
    font-size: 80%;
}



@media (max-width: 750px){

    .marqueeNav {
        width: 100%;
        animation: marquee 7s linear infinite;
    }

    @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        
        100% {
          transform: translateX(calc(-100%));
        }
      }

    .nav-derecha{
        width: 45px;
    }

    .nav-arriba{
        width: calc(100% - 60px);
    }
    
   .mainIndex{
    padding-right: 50px;
   }

   .logo-index img{
    width: 100px;
    height: auto;
    }

    .lista-index1 .item-index img{
        width: 110%;   
        height: auto;
    }

    .logo-index .logo-index1 h1{
        font-size: 35px;
    }

    .logo-index .logo-index1 p{
        font-size: 12px;
    }
 
  
}

@media (max-width: 900px){

    .lista-index .lista-index1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
    }

    .lista-index1 .item-index img{
        width: 100%;
        height: auto;
    }

}

/*artistas populares*/

.portada-artistas{
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgb(69, 1, 1) 100%);
    display: flex;
    align-items: end;
    background-position: center; 
    background-repeat:no-repeat;
    background-size:cover;
    height: 20rem;
    display: block;
    align-content: end;
    transition: 1s ease;
}

.portada-artistas h1{
    font-size: 400%;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.portada-artistas p{
    font-size: 100%;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.artista1{
    background-image: url(img/dmportada.png);
    
}

@media (max-width: 760px){

    .Index1 .artista1{
        background-image: url(img/dm-portada.png);
        
    }

    .Index1 .artista2{
        background-image: url(img/pcportada2.png);
    }

    .portada-artistas{
        height: 11rem;
    }

    .portada-artistas h1{
        font-size: 220%;
        padding-left: 7px;
    }

    .contenedor-cancion .lista-album img{
        width: 55px;
    }

    .canciones .contenedor-cancion{
        height: 45px;
    }

    .portada-artistas p{
        font-size: 70%;
    }

    .contenedor-cancion .reproducir i{
        font-size: 100%;
    }

    .contenedor-cancion .reproducir .boton-play{
        font-size: 92%;
    }

    .contenedor-cancion .reproducir .boton-pausa{
        font-size: 94%;
    }

    .contenedor-cancion .reproducir img{
        width: 14px;
    }
}

.reproductor-audio{
    display: none; /*ver si es necesario*/
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.reproducir .hide{
    display: none;
}

.contenedor-cancion{
    display: flex;
    align-items: center;
    height: 65px;
}

.contenedor-cancion .lista-album{
    display: flex;
}

.contenedor-cancion:hover{
    background-color: rgba(93, 91, 91, 0.282);
    border-radius: 10px;
}

.contenedor-cancion .lista-album{
   
    border-radius: 5px;
    
}

.lista-album img{
    display: flex;
    width: 75px;
    border-radius: 5px;
    margin: 5px;
}

.lista-album:hover{
    background-color: rgba(105, 105, 105, 0.285);
    box-shadow: rgba(0, 0, 0, 0.336) 1px 1px 4px;
    border-radius: 0;
}

.lista-populares{
    margin: 0;
    padding: 20px;
}

.lista-populares h2{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.304);
    font-size: 170%;
    margin-bottom: 5px;
}

.reproducir{
    display: flex;
    align-content: center;
    justify-items: center;
    padding: 5px;
    margin: 3px;
    cursor: pointer;   
    margin-left: -1px;
}

.reproducir:hover{
    background-color: rgba(105, 105, 105, 0.285);
    border-radius: 50%;
    -webkit-transform:scale(1);transform:scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.336) 1px 1px 4px;
}

.reproducir i{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-cancion li{
    list-style: none;
}

.lista-duracion{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  
}

.cancion-nombre{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 0fr;
    height: 130%;
    align-items: center;
}

.cancion-nombre .nombre1{
    font-size: 110%;
}

.cancion-nombre .oyentes1{
    font-size: 90%;
}

.cancion-nombre .duracion1{
    font-size: 90%;
}

@media (max-width: 750px){

    .footer{
        margin-right: 55px;
    }

    .lista-populares h2{
        font-size: 130%;
    }

    .lista-index .artistas-populares h3{
        font-size: 130%;
    }

    .cancion-nombre{
        align-items: center;
        align-content: center;
        grid-template-columns: 85% 15%;
        grid-template-rows: 30px;
        grid-template-areas: "nombre duracion"
        "oyentes duracion";
    }

    .nombre1{
        grid-area: nombre;
    }

    .oyentes1{
        grid-area: oyentes;
    }

    .sin-oyentes{
        display: none;
    }

    .duracion1{
        grid-area: duracion;
    }

    .cancion-nombre .nombre1{
        font-size: 100%;
    }
    
    .cancion-nombre .oyentes1{
        font-size: 75%;
    }
    
    .cancion-nombre .duracion1{
        font-size: 75%;
    }

    
   
    .portada-artistas{
        padding: 5px;
    }

    .lista-populares{
        padding: 5px;
    }

    .Index1 .discografia{
        padding: 15px;
    }

    .Index1 .portada1 .logo-index1 h1{
        font-size: 150%;
    }

    .Index1 .portada1 img{
        width: 130px;
    }

    .Index1 .portada1 .logo-index1 p{
        font-size: 70%;
    }

    .contenedor-cancion .cancion-nombre .grupo1{
        display: grid;
        grid-template-rows: 25px;  
    }

    .logo-index .logo-index1 .mini-imagen img{
        width: 20px;
    }

    .footer .redes-sociales{
        padding: 0px;
    }
    
    .footer .redes-sociales::after{
        width: 35%;
    }
    .footer .redes-sociales::before{
        width: 35%;
    }

    .footer .redes-sociales i{
        font-size: 100%;
    }

    .footer .privacidad{
        font-size: 80%;
    }

    .footer .logo-footer{
        gap: 0px;
    }

    .footer .ft-centrado{
        gap: 0px;
    }

    .footer .logo-footer img{
        width: 55px;
        margin-left: 10px;
    }
    .footer .ft-centrado h4{
        font-size: 90%;
    }
    .footer .ft-centrado a{
        font-size: 80%;
    }

    .footer2{
        width: 100%;
    }
}


.contenedor-cancion .reproducir{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}



.reproducir .boton-play{
    font-size: 100%;
}

.reproducir img{
    width: 19.5px;
    filter: grayscale(100%) hue-rotate(180deg);    
}

.reproducir .boton-pausa:hover img{
    width: 0;
    height: 0;
}

.reproducir .boton-pausa:hover::before{
    content: "\f04c";
    font-style: initial;
    font-family: FontAwesome;
    font-size: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.artistas-populares h3{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.57);
    font-size: 170%;
    margin-bottom: 5px;
    width: 50vw;
    
}

.discografia{
    margin: 0;
    padding: 30px;
    margin-top: 6%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(36, 3, 3) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
}

.discografia .lista-index1{
    position: relative;
    right: 0.5%;
}

.portada1 .logo-index1 h1{
    font-size: 250%;
    margin-left: 3px;
}

.portada1 .logo-index1 p{
    font-size: 90%;
    font-weight:400;
}

.portada1 img{
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.336) 1px 1px 4px;
}

.portada1 .logo-index1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-cancion .sin-hover:hover{
    background-color: transparent;
}

.album-pad{
    padding-top: 3%;
}

.dm-pequeño{
    font-size: 70%;
}

.cancion-nombre .grupo1{
    display: grid;
    grid-template-rows: 30px;  
}

.nombre-album{
    font-weight:400;
}

.portada1{
    background-color: black;
}

.logo-index1 .mini-imagen{
    display: flex;
    align-items: center;
}

.logo-index1 .mini-imagen img{
    box-shadow: rgba(0, 0, 0, 0.611) 0px 1px 4px;
    width: 30px;
    filter: none;
    border-radius: 50%;
    margin-right: 5px;
}

.Index1 .portada1 img{
    filter: none;
}

.artista2{
    background-image: url(img/pcportada.png);
}

.sin-borde-abajo{
    border-bottom: none;
}

/*footer*/

footer{
    margin-left: 5px;
    margin-right: 70px;
}

.footer{
    margin-top: -6px;
    padding-top: 10%;
    background-color: black;
    border-radius: 0;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 30px;
    padding: 5px;
    position: relative;
    margin-top: -5px;
}

.redes-sociales::after{
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 40%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.477);
}

.redes-sociales::before{
    content: '';
    position: absolute;
    bottom: 50%;
    right: 0;
    width: 40%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.477);
}

.redes-sociales i{
    font-size: 130%;
}

.redes-sociales a:hover{
    -webkit-transform:scale(1);transform:scale(1.2);
}

.logo-footer{
    color: white;
    background-color: rgb(0, 0, 0);
    height: 100px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.ft-centrado{
    display: flex;
    gap: 40px;
}

.logo-footer1 img{
    width: 80px;
    filter: grayscale(100%);
    border-radius: 50%;
    background-color: black;     
}

.ft-columna1{
    width: 130px;
    display: grid;
    justify-items: center;
}

.ft-columna2{
    width: 130px;
    display: grid;
    justify-items: center;
}

.ft-centrado h4{
    font-size: 110%;
}

.ft-columna1 .ft-columna2, a{
    color: white;
    text-decoration: none;
}

.ft-columna1 .ft-columna2, p{
    font-size: 90%;
}

.privacidad{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 20px;
    padding: 5px;
    margin-top: -1px;
    padding-bottom: 15px;
    font-size: 100%;
}

.footer a:hover{
    text-decoration:underline;
}

.footer2{
    width: 100%;
    margin-left: 0;
    padding-top: 30px;
    margin-bottom: -10px;
}

.headerAyuda .sin-sombra{
    text-shadow: none;
}

.sin-sombra i{
    text-shadow: none;
}

.rs2{
    width: 100%;
}
