*{
    padding: 0;
    margin: 0;
}



body{
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    transition: 1s ease;
}

.fondoIndex{
    background-color: black;
}

/*nosotros*/
.consultaAqui{
    margin-left: 20px;
    font-size: 110%;
}

.nav-nosotros i{
    color: black;
}

.navegadorInfo .nav-nosotros{
    color: black;
}

.fondoNosotros{
    background: white;
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    height: 100%;
}

.article{
    display: flex;
    padding-top: 30px;
    width: 100%;
}


.columna1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    padding: 7%;
    padding-left: 13%;
}

.columna2{
    display: flex;
    flex-direction: column;
    justify-content:right;
    width: 30%;
    padding-top: 10%;
}



.miniColumna{
    display: flex;
}

.miniColumna1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.miniColumna2{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.titulo1{
    padding-left: 10px;
    font-size: 45px;
    text-shadow: none;
}

.columna1 p{
    font-weight: initial;
}

.columna2 p{
    font-weight: initial;
}

.titulo2{
    font-size: 30px;
}

.lista1, .lista2{
    
    padding-left: 30px;
}

.link-nosotros{
    color: rgb(0, 76, 218);
    font-weight: 500;
}

.link-nosotros:hover{
    text-decoration: underline;
}

.lista1 li a:hover{
    text-decoration: underline;
}


.lista1 li{
    font-weight:initial;
}

.lista2 li{
    font-weight:initial;
}

.titulo3{
    font-size: 17px;
    font-style: italic;
}

/*ayuda*/
.headerAyuda{
    padding-bottom: 30px;
}


.navegadorInfo{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
}

.navegadorInfo ul{
  
    display: flex;
    list-style: none;
}

.navInfo li{
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    margin: 25px;
    font-size: 150%;
}

.navInfo li:hover{
    -webkit-transform:scale(1.0);transform:scale(1.1);
}

.LogonavInfo img{
    border-radius: 10px;
    width: 70px;
}

.LogonavInfo{
    gap: 5px;
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.LogonavInfo:hover{
    -webkit-transform:scale(1.0);transform:scale(1.04);
}

.navegadorInfo a{
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
  
}


.fondoAyuda{
    background: linear-gradient(0deg, rgba(0,0,0,1) -100%, rgb(22, 72, 125) 100%);
    color: white;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    height: 100%;
}

.articulo1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 5%;
}

.search-box{
    background-color: white;
    min-width: 35%;
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    min-width: 520px;
   
}

.search-box input{
    width: 100%;
    padding: 7px;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    height: 40px;
    font-size: 15px;
    cursor:auto;
}

.search-box button{
    border: none;
    cursor: pointer;
}


.search-box i{
    border: none;
    text-decoration: none;
    background-color: white;
    outline: none;
    display: flex;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.701);
    font-size: 25px;
    padding: 9px;
}

.text2{
    padding: 10px;
    font-size: 260%;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
}

.text1{
    font-weight: 400;
}

.imagenesAyuda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fila1{
    display: flex;
    flex-direction: column;
    padding: 15px;
    row-gap: 20px;
}



.fila2{
    display: flex;
    flex-direction: column;
    padding: 15px;
    row-gap: 20px;
}

.articulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    background: rgb(0,19,48);
    background: linear-gradient(180deg, rgba(0,19,48,1) 0%, rgba(0,0,0,1) 76%);
    color: white;
    text-align: left;
}

.articulo2 a:hover{
    color: rgba(97, 180, 243, 0.575);
}

.links{
    text-decoration: none;
    color: white;
    font-size: 85%;
}

.ayudaRapida{
    font-size: 130%;
}

.imagenesAyuda img:hover{
    -webkit-transform:scale(1.0);transform:scale(1.1);
}

.search-box i:hover{
    -webkit-transform:scale(1.0);transform:scale(1.1);
    
}

.imagenesAyuda img{
    border-radius: 10px;
}

/*ayuda1*/

.fondoAyudaLinks{
    color: white;
    background: linear-gradient(0deg, rgba(0,0,0,1) -50%, rgb(24, 81, 142) 100%);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    height: 100%;
}

.grid-ayuda{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    
}


.item-ayuda{
    grid-row: 1/2;
    grid-column: 2;
    background: radial-gradient(circle, rgba(1, 61, 103, 0.693) 0%, rgba(0, 0, 0, 0.293) 100%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.685);
    border-radius: 15px;
    padding: 15px;
    margin-top: 30%;
    min-width: 450px;
    
    
    
}

.item-ayuda p{
    font-weight: 350;
}

.item2-ayuda{
    grid-row: 2;
    grid-column: 2;
    padding-top: 30px;
    
}

.item-ayuda h1{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.57);
    padding-left: 5px;
}

.item2-ayuda 
.item2-ayuda2
.item2-ayuda3, p{
    font-weight:350;
}

.item3-ayuda input{
    font-size: 80%;
    color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: 50px;
    background: rgba(1, 0, 11, 0.266);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.56);
    border: none;
    cursor: pointer;
}

.item3-ayuda input:hover{
    -webkit-transform:scale(1.0);transform:scale(1.1);
    border-color: white;
    background-color: rgba(110, 167, 214, 0.063);
}

.item-ayuda
.item-ayuda2
.item-ayuda3,
h1{
    font-size: 200%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.57);
}

.item-ayuda2 h1{
    padding-left: 10px;
}

.item3-ayuda{
    padding-top: 5px;
    
}

.titulos-ayuda{
    font-size: 200%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 800;
    font-weight: 700 !important;
}


.item-ayuda2 ul{
    padding-left: 25px;
}


.item-ayuda2{
    grid-row: 1/3;
    grid-column: 2;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20%;
    min-width: 400px;
    background: radial-gradient(circle, rgba(1, 61, 103, 0.693) 0%, rgba(0, 0, 0, 0.293) 100%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.685);
}

.item-ayuda3{
    grid-row: 1/3;
    grid-column: 2;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20%;
    min-width: 550px;
    padding-bottom: 30px;
    background: radial-gradient(circle, rgba(1, 61, 103, 0.693) 0%, rgba(0, 0, 0, 0.293) 100%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.685);
}

.item2-ayuda2{
    grid-row: 3;
    grid-column: 2;
    padding-top: 30px;
    padding-bottom: 30%;
}

.item-ayuda2 p{
    font-weight: 350;
}

.item-ayuda2 ul li{
    font-weight: 350;
}

.item-ayuda3 h1, h2, p, ul{
    padding: 10px;
}

.item2-ayuda3{
    grid-row: 3;
    grid-column: 2;
    padding-top: 30px;
    padding-bottom: 30%;
}

.item-ayuda3 ul, ol{
    font-weight: 350;
    padding-left: 35px;
}

.item-ayuda3 p{
    font-weight: 350;
}

.item-ayuda3 h2{
    font-weight: 700;
    font-size: 170%;
}

.item3-ayuda {
    margin-left: 10px;
}

/*ayuda con la cuenta*/
.articulo1 a{
    text-decoration: none;
    color: white;
    
}

.AyudaCuenta1{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    justify-items: center;
    padding-top: 200px;
    height: 100vh;
}


.AyudaCuenta2 a{
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.AyudaCuenta2 a:hover{
    text-decoration: underline;
}

.AyudaCuenta4{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding: 10px 10px;
    align-items: center;
}

.AyudaCuenta4 i{
    font-size: 75%;
}

.AyudaCuenta2 h1{
    padding-bottom: 50px;
    font-size: 300%;
}

.AyudaCuenta2 .fa-person-digging{
    font-size: 800%;
    display: flex;
    justify-content: center;
}

.AyudaInicio{
    width: 60px;
    height: 25px;
    margin-left: 10px;
}

.AyudaCuenta2 .AyudaInicio:hover{
    -webkit-transform:scale(1.0);transform:scale(1.1);
    text-decoration: none;
}

/*pagina de inicio*/

.nav-derecha {
    display: flex;
    justify-content: center;
    height: 100%;
    background: linear-gradient(180deg, rgb(32, 0, 0) 65%, rgba(0,0,0,1) 100%);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.203) inset;
    position: fixed; 
    top: 0; 
    right: 0;
    border-radius: 10px;
    margin: 5px;
    width: 60px;
    align-items:start;
    margin-bottom: -5px;
    padding-bottom: 10px;
    z-index: 2;

}
  
.nav-derecha ul {
    list-style: none;
    padding: 0;
    
}
  
.nav-derecha ul i{
    font-size: 150%;
    text-shadow: rgb(0, 0, 0) 1px 1px 4px;
}

.nav-derecha ul li{
    margin-bottom: 90px;
    margin-top: 55px;
    font-size: 90%;
    display: flex;
    justify-content: center;
}
  
.nav-derecha ul li a {
    color: rgba(192, 192, 192, 0.877);
    text-decoration: none;
}
  
.nav-derecha ul i:hover {
    -webkit-transform:scale(1.0);transform:scale(1.1);
    color: white;
}

.mainIndex{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px 5px 0px 5px;
    margin-top: 50px;
    color: white;
    padding-right: 65px;
    
}

.Index1 {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(63, 0, 0) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.nav-arriba{
    margin-right: 5px;
    height: 40px;
    background: radial-gradient(circle, rgba(54, 0, 0, 0.726) 0%, rgba(46, 0, 0, 0.879) 65%);
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.305), 0px 0px 20px 3px rgba(0, 0, 0, 0.134) inset;
    border-radius: 10px;
    position: fixed;
    width: calc(100% - 75px);
    top: 5px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
}

.marqueeNav {
    width: 100%;
    display: inline-block;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    
    100% {
      transform: translateX(calc(-30%));
    }
}

.logo-index {
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(90deg, rgba(86, 10, 10, 0.49) 0%, rgb(37, 0, 0) 100%);
    display: flex;
    align-items: end;
    position: relative;
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.305), 0px 0px 20px 3px rgba(0, 0, 0, 0) inset;
    overflow: hidden;
}

.logo-index img{
    max-width: 200px;
    height: auto;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
    z-index: 0;
}

.titulo-index{
    font-size: 30px;
    text-shadow: 2px 2px 9px #0000009a;
    padding-left: 9px;
}

.logo-index1 p{
    font-size: 15px;
    text-shadow: 2px 2px 9px #0000009a;
    padding-top: 5px;
    padding-bottom: 8px;
}

.lista-index {
    margin: 20px;
    padding-bottom: 20px;
    position: relative;
}

.lista-index::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background: rgba(255, 255, 255, 0.09);
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s ease, width 1s ease;
    animation: bordeAnimacion 1s forwards;
    animation-delay: 1s;
}

@keyframes bordeAnimacion {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

.artistas-populares{
    width: 250px;
}

.artistas-populares a{
    text-decoration: none;
    color: white;
}

.artistas-populares h2{
    font-size: 150%;
    text-shadow: 2px 2px 9px #0000005d;
}

.item-index a{
    text-shadow: 2px 2px 9px #0000005d;
    color: white;
    text-decoration: none;
    display: grid;
    padding: 10px;
    justify-items: center;
}



.item-index .nombre-artista {
    margin-top: -10px;
    color: rgba(255, 255, 255, 0.812);
}

.logo-index1{
    padding-left: 5px;
    position: relative;
    top: 8px;
}

.item-index:hover{
    background-color: rgba(255, 255, 255, 0.077);
    box-shadow: rgba(0, 0, 0, 0.336) 1px 1px 4px;
    border-radius: 10px;
}

.lista-index1 > div:hover{
    -webkit-transform:scale(1);transform:scale(1.05);
}

.lista-index1 .item-index img{
    box-shadow: rgba(0, 0, 0, 0.336) 1px 1px 4px;
}



.item-index .index-album{
    border-radius: 10px;
}

.lista-index1{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-top: 5px;
    gap: 5px;
    justify-content: center;
}

.item-index {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: min-content;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease;
    transition-delay: var(--delay, 0s);
}

.item-index.aparecer {
    opacity: 1;
    transform: translateY(0);
}

.item-index img{
    border-radius: 50%;
    width: 100%;
}


.lista-index1 .item-index{
    align-items: center;
    justify-content: center;
}

.item-index .titulo-foto-index{
    font-size: 125%;
    font-weight: 350;
    display: flex;
    justify-content: center;
}



.item-index .nombre-artista{
    font-size: 80%;
}

/*artistas populares*/

.portada-artistas{
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgb(69, 1, 1) 100%);
    display: flex;
    align-items: end;
    background-position:center; 
    background-repeat:no-repeat;
    background-size:cover;
    height: 20rem;
    display: block;
    align-content: end;
    transition: 1s ease;
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.523), 0px 0px 20px 3px rgba(0, 0, 0, 0.458) inset;
}

.portada-artistas h1{
    font-size: 400%;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.portada-artistas p{
    font-size: 100%;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.artista1{
    background-image: url(img/dmportada.png);
    
}

.reproductor-audio{
    display: none; /*ver si es necesario*/
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.reproducir .hide{
    display: none;
}

.contenedor-cancion{
    display: flex;
    align-items: center;
    height: 65px;
}

.contenedor-cancion .lista-album{
    display: flex;
}

.contenedor-cancion:hover{
    background-color: rgba(93, 91, 91, 0.282);
    border-radius: 10px;
}

.contenedor-cancion .lista-album{
   
    border-radius: 5px;
    
}

.lista-album img{
    display: flex;
    width: 75px;
    border-radius: 5px;
    margin: 5px;
}

.lista-album:hover{
    background-color: rgba(105, 105, 105, 0.285);
    box-shadow: rgba(0, 0, 0, 0.336) 1px 1px 4px;
    border-radius: 0;
}

.lista-populares{
    margin: 0;
    padding: 20px;
}

.lista-populares h2{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.304);
    font-size: 170%;
    margin-bottom: 5px;
}

.reproducir{
    display: flex;
    align-content: center;
    justify-items: center;
    padding: 5px;
    margin: 3px;
    cursor: pointer;   
    margin-left: -2px;
}

.reproducir:hover{
    background-color: rgba(105, 105, 105, 0.285);
    border-radius: 50%;
    -webkit-transform:scale(1.0);transform:scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.336) 1px 1px 4px;
}

.reproducir i{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-cancion li{
    list-style: none;
}

.lista-duracion{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  
}

.cancion-nombre{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 0fr;
    height: auto;
    align-items: center;
}

.cancion-nombre .nombre1{
    font-size: 110%;
}

.nombre1 p{
    font-weight: 400;
}

.cancion-nombre .oyentes1{
    font-size: 90%;
}

.cancion-nombre .duracion1{
    font-size: 90%;
}

.contenedor-cancion .reproducir{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}


.reproducir .boton-play{
    font-size: 100%;
}

.reproducir img{
    width: 19.5px;
    filter: grayscale(100%) hue-rotate(180deg);    
}

.reproducir .boton-pausa:hover img{
    width: 0;
    height: 0;
}

.reproducir .boton-pausa:hover::before{
    content: "\f04c";
    font-style: initial;
    font-family: FontAwesome;
    font-size: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.artistas-populares h3{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.57);
    font-size: 170%;
    margin-bottom: 5px;
    width: 50vw;
    
}

.discografia{
    margin: 0;
    padding: 30px;
    margin-top: 6%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(36, 3, 3) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    opacity: 1;
}

.discografia .lista-index1{
    position: relative;
    right: 0.5%;
}

.portada1 .logo-index1 h1{
    font-size: 300%;
}

.portada1 .logo-index1 p{
    font-size: 90%;
    font-weight:400;
}

.portada1 img{
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.336) 1px 1px 4px;
}

.portada1 .logo-index1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-cancion .sin-hover:hover{
    background-color: transparent;
}

.album-pad{
    padding-top: 3%;
}

.dm-pequeño{
    font-size: 70%;
}

.cancion-nombre .grupo1{
    display: grid;
    grid-template-rows: 30px;
    gap: 5px;  
}

.nombre-album{
    font-weight:400;
}

.portada1{
    background: rgb(55,0,0);
    background: linear-gradient(270deg, rgba(55,0,0,1) 0%, rgba(0, 0, 0, 0.601) 100%);
}

.logo-index1 .mini-imagen{
    display: flex;
    align-items: center;
}

.logo-index1 .mini-imagen img{
    box-shadow: rgba(0, 0, 0, 0.611) 0px 1px 4px;
    width: 30px;
    filter: none;
    border-radius: 50%;
    margin-right: 5px;
}

.Index1 .portada1 img{
    filter: none;
}

.artista2{
    background-image: url(img/pcportada.png);
}

.sinBorde::after{
    background-color: rgba(255, 255, 255, 0);
}

/*footer*/

footer{
    margin-left: 5px;
    margin-right: 70px;
}

.footer{
    padding-top: 10%;
    background-color: black;
    border-radius: 0;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 30px;
    padding: 5px;
    position: relative;
    margin-top: -5px;
}

.redes-sociales::after{
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 40%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.477);
}

.redes-sociales::before{
    content: '';
    position: absolute;
    bottom: 50%;
    right: 0;
    width: 40%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.477);
}

.redes-sociales i{
    font-size: 130%;
}

.redes-sociales a:hover{
    -webkit-transform:scale(1.0);transform:scale(1.2);
}

.logo-footer{
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-centrado{
    display: flex;
    gap: 40px;
}

.logo-footer1 img{
    width: 80px;
    filter: grayscale(100%);
    border-radius: 50%;
    background-color: black;     
}

.ft-columna1{
    width: 130px;
    display: grid;
    justify-items: center;
}

.ft-columna2{
    width: 130px;
    display: grid;
    justify-items: center;
}

.ft-centrado h4{
    font-size: 110%;
}

.ft-columna1 .ft-columna2, a{
    color: white;
    text-decoration: none;
}

.ft-columna1 .ft-columna2, p{
    font-size: 90%;
}

.privacidad{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 5px 5px 0 5px;
    font-size: 100%;
    position: relative;
}

.footer a:hover{
    text-decoration:underline;
}

.footer2{
    width: 100%;
    margin-left: 0;
    padding-top: 20px;
}

.headerAyuda .sin-sombra{
    text-shadow: none;
}

.sin-sombra i{
    text-shadow: none;
}

.rs2{
    width: 100%;
}

.artista4{
    background-image: url(img/the-cure-portada.png);
}

.artista3{
    background-image:url(img/nafta-portada.png);
}

.artista5{
    background-image: url(img/and-one-fondo.png);
}

/* Cuenta */

.formulario{
    justify-content: center;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.386) 0%, rgba(0, 0, 0, 0.293) 100%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.558);
    max-width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40%;
    align-items: center;
    justify-items: center;
    display: flex;
    border-radius: 10px;
    
}

.titulo{
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.618);
    letter-spacing: 0.5px;
    font-size: 180%;
}

.formulario .inicio-sesion, input{
    outline: none;
}

input[type="date"],
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.nacionalidadCuenta{
    display: flex;
    justify-content: center;
}

.formulario button{
    display: flex;
    background: radial-gradient(circle, rgba(160, 210, 254, 0.69) -10%, rgba(123, 180, 246, 0.537) 100%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.322);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.inicio-sesion button{
    display: flex;
    background: radial-gradient(circle, rgba(160, 210, 254, 0.69) -10%, rgba(123, 180, 246, 0.537) 100%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.322);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.registrarme button:hover {
    background-color: rgba(102, 166, 234, 0.777);
    -webkit-transform:scale(1.0);transform:scale(1.03);
}

.registrarme button{
    font-size: 125%;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.618);
}

.checkbox{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.terminos{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
}

.registrarme{
    display: flex;
    justify-content: center;
}

.subrayado:hover{
    text-decoration: underline;
}

.subrayado{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.618);
}

.o{
    display: flex;
    justify-content: center;
}

.cuenta{
    display: flex;
    justify-content: center;
    color: black;
    border-color: #000000;
}

.inicio-sesion{
    justify-content: center;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.386) 0%, rgba(0, 0, 0, 0.293) 100%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.558);
    max-width: 340px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    margin: auto;
    margin-top: 150px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20%;
   
}

.crearCuenta{
    display: flex;
    justify-content: center;
    font-size: 90%;
}

.iniciarSesion{
    font-size: 120%;
}

.campo{
    padding-bottom: 20px;
}

.terminos2{
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;
}

.terminos2 p{
    font-size: 100%;
}

.terminos2 h2{
    font-size: 200%;
}

.terminos3{
    font-style: oblique;
    font-size: 120%;
}

.terminos4{
    font-size: 115%;
    
}

.fondoTerminos{
    background: white;
}

.fondoCuenta{
    color: white;
    background: linear-gradient(180deg, rgb(108, 177, 255) 0%, rgba(0,0,0,1) 100%);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    height: auto;
    
}

.artista6{
    background-image: url(img/boris3.png);
}

.bordeBlanco img{
    border: 1px solid white;
}

.imagenIndex{
    width: 150px;
}


/*validacion js*/
.error{
    background-color: none;
}

.active{
    font-size: 75%;
    background: rgb(199,45,45);
    background: radial-gradient(circle, rgba(235, 14, 14, 0.625) 0%, rgba(222, 30, 30, 0.674) 100%);
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
    margin: 5px;
}

.cuenta1{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.618);
}

.campo input{
    margin-top: 5px;
}

.nacionalidadCuenta select{
    margin-left: 5px;
    border-radius: 5px;
    outline: none;
}

.tituloMusicfy{
    padding-left: 8px;
    font-size: 400%;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

/*efectos hover*/

.objeto2{
    right: 60px;
    visibility: hidden;
    border-radius: 10px;
    margin-top: -10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.066);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.356), 0px 0px 20px 3px rgba(255, 255, 255, 0.118) inset;
}

.objeto2 i{
    margin-right: 10px;
}

.hover-inicio p{
    font-weight: 350;
    letter-spacing: 1px;
    font-size: 110%;
}

.hover-inicio p{
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.objeto1, .objeto2{
    position: absolute;
}

.objeto1:hover + .objeto2{
    visibility: visible;
}

/*boton hover del index*/

i.boton-hover{
    background-color: rgba(255, 255, 255, 0.034);
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.942);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.647), 0px 0px 20px 3px rgba(255, 255, 255, 0.196) inset;
    position: absolute;
    backdrop-filter: blur(7px);
    opacity: 0;
    transition: 0.5s ease;
    transition: opacity 0s;
    place-items: center;
}

.item-index:hover .boton-hover{
    opacity: 1;
    transition: opacity 0.5s;
}

.boton-hover:hover{
    -webkit-transform:scale(1.0);transform:scale(1.1);
    background-color: #ffffff18;
    cursor: pointer;
}

.item-index span{
    display: grid;
    place-items: end;
    justify-items: end;
    grid-row: 1;
    grid-column: 2;
}

.item-index .boton-lugar2{
    place-items: end;
    align-items: end;
    display: grid;
    grid-row: 2;
    justify-self: end;
}

.boton-lugar2 i{
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.423), 0px 0px 20px 3px rgba(255, 255, 255, 0.196) inset;

}

.contenedor-boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-hover i{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.668);
}


/*hover de tendencia*/

.tendencia-hover{
    background-color: rgba(0, 0, 0, 0.163);
    position: absolute;
    backdrop-filter: blur(10px);
    visibility: hidden;    /* su opacidad es 0*/
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px -10px 10px -6px rgba(0, 0, 0, 0.648);

    
}

p.tendencia-hover{
    font-size: 90%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.867);
}



.item-index:hover .tendencia-hover{
    visibility: visible;
    transition: height 0.5s ease; 
    height: 10%;
    overflow: hidden;
}

.contenedor-tendencia{
    display: grid;
    justify-items: center;
    align-items: end;
    
}

.boton-lugar3{
    place-items: end;
    align-items: start;
    display: grid;
    grid-row: 1;
    justify-self: end;
}

/*fondos hover del index*/

.fondo-depeche{
    background-image: url(img/dm-index.png);
    background-size: cover;  
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 1s;
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.489), 0px 0px 20px 3px rgba(0, 0, 0, 0.801) inset;
    filter: grayscale(1);
}

.fondo-circle{
    background-image: url(img/circle-index.png);
    background-size: cover;  
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 1s;
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.489), 0px 0px 20px 3px rgba(0, 0, 0, 0.801) inset;
    filter: grayscale(1);
}

.fondo-cure{
    background-image: url(img/cure-index.png);
    background-size: cover;  
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 1s;
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.489), 0px 0px 20px 3px rgba(0, 0, 0, 0.801) inset;
    filter: grayscale(1);
}

.fondo-one{
    background-image: url(img/one-index.png);
    background-size: cover;  
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 1s;
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.489), 0px 0px 20px 3px rgba(0, 0, 0, 0.801) inset;
    filter: grayscale(1);
}

.fondo-boris{
    background-image: url(img/boris-index.png);
    background-size: cover;  
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 1s;
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.489), 0px 0px 20px 3px rgba(0, 0, 0, 0.801) inset;
    filter: grayscale(1);
}

.fondo-nafta{
    background-image: url(img/nafta-index.png);
    background-size: cover;  
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 1s;
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.489), 0px 0px 20px 3px rgba(0, 0, 0, 0.801) inset;
    filter: grayscale(1);
}

.fondo2-index{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
}

.nav-derecha ul li .resaltarIcono{
    color: rgb(255, 255, 255);
}

.padding-fav{
    padding: 20px;
}

.tabla-artistas {
    width: auto;
    border-collapse: separate;
    border-spacing: 5px;
    overflow-x: auto;
}

.tablaArt{
    display: grid;
    justify-items: center;
}

.tabla-artistas th, td {
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.096);
    box-shadow: #ffffff4c 1px 1px 2px, 0px 0px 20px 3px rgba(0, 0, 0, 0.068) inset;

}

.form-artistas {
    margin-bottom: 40px;
    display: grid;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.form-artistas2{
    display: flex;
    column-gap: 15px;
    row-gap: 10px;
}

.form-artistas2 div{
    flex: 1 0 100px;
}

.form-artistas input{
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: #ffffff80 1px 1px 1px;
    background-color: rgba(255, 255, 255, 0.168);
    border: none;
    color: white;
    font-size: 100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;

}


.form-artistas label{
    font-size: 110%;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.center-fav h1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    margin-top: 25px;
}

.form-artistas button{
    border: none;
    padding: 15px;
    font-size: 120%;
    box-shadow: #ffffff5a 0px 2px 0px, 0px 0px 20px 3px rgba(0, 0, 0, 0.225) inset;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 20px;
    font-weight: 550;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    margin-top: 20px;
}

.form-artistas button:hover{
    -webkit-transform:scale(1.0);transform:scale(1.05);
    cursor: pointer;
}


.boton-fav2 button:hover{
    -webkit-transform:scale(1.0);transform:scale(1.1);
    cursor: pointer;
}

.boton-fav2 button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    box-shadow: rgba(255, 255, 255, 0.3) 1px 1px 1px;
    background-color: #70002566;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 75%;
}

.tabla-artistas .boton-edit{
    background-color: rgba(255, 255, 255, 0.168);
    
}

.tabla-artistas th{
    background-color: rgba(255, 255, 255, 0.052);
}

.boton-fav2 td:first-child {
    text-align: center;
}

.añadirFav{
    display:inline-flex;
    align-items: center;

}

.añadirFav button{
    background-color: red;
    border: none;
    cursor: pointer;
}

.añadirFav i{
    margin-left: 10px;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.34);
}

.añadirFav i:hover{
    cursor: pointer;
    -webkit-transform:scale(1.0);transform:scale(1.05);

}

.eliminarFav{
    width: 100%;
    height: 30px;
    opacity: 0;
    font-size: 100%;
    cursor: pointer;
    border: none;
    backdrop-filter: blur(10px);
    background-color: rgba(173, 0, 0, 0.2);
    color: white;
    box-shadow: #00000012 0px -1px 0px, 0px 0px 20px 3px rgba(255, 0, 0, 0.06) inset;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.eliminarHover:hover .eliminarFav{
    opacity: 1;
}

.eliminarFav:hover{
    background-color: rgba(255, 0, 0, 0.179);
}

.artistaFav{
    display: flex;
}

.artistaFav form{
    display: flex;
    align-items: center;
}

.FavAñadir button{
    border: none;
    width: 0px;
    font-size: 150%;
    margin-left: 10px;
    text-shadow: #ffffff4a 0px 0px 10px;
}

.FavAñadir button:hover{
    cursor: pointer;
    -webkit-transform:scale(1.0);transform:scale(1.1); 
}

.FavAñadir i{
    border-radius: 90px;
    width: auto;
}

.objeto2-1{
    font-size: 85%;
    bottom: 35px;
    position: relative;
}

.FavAñadir .objeto1 i{
    background-color: rgba(255, 255, 255, 0.471);
    backdrop-filter: blur(15px);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    width: 100%;
    top: 0;
}

.modal-content {
    background-color: rgba(128, 0, 0, 0.352);
    margin: 0 auto;
    backdrop-filter: blur(20px);
    padding: 8px;
    width: fit-content;
    border-radius: 15px;
    top: 0;
    margin-top: 50px;
    font-size: 120%;
    box-shadow: #000000b1 0px 2px 15px, 0px 0px 20px 3px rgba(255, 255, 255, 0.03) inset;
    border: 2px groove rgba(255, 255, 255, 0.092);
    
}

/* animacion index */
.imagenIndex {
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
    
}

.tituloMusicfy, .subTitulo {
    opacity: 0;
    transition: opacity 1s ease;
}

.aparecer-imagen {
    transform: translateX(0);
    opacity: 1;
}

.aparecer-titulo {
    opacity: 1;
}

.artistas-populares {
    opacity: 0;
    transition: opacity 1s ease;
}

.aparecer-artistas {
    opacity: 1;
}

/*media query*/

@media (max-width: 1200px) {
    .inicio-sesion{
        margin-bottom: 65%;
    }

    .articulo1{
        margin-bottom: 25%;
    }

    .lista-index1{
        grid-template-columns: repeat(5,1fr);
    }
    
}

@media (max-width: 1000px){
    .lista-index1{
        grid-template-columns: repeat(4,1fr);
    }
    
}

@media (max-width: 900px){

    .FavAñadir button{
        font-size: 120%;
        margin-left: px;
    }

    .eliminarFav{
        height: 20px;
        font-size: 80%;
    }
    .tabla-artistas th, td{
        padding: 5px;
    }
    .boton-edit{
        margin-bottom: 5px;
    }
    .form-artistas2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .fondo-depeche{
        background-image: url(img/dm-portada.png);
    }
    .fondo-circle{
        background-image: url(img/pcportada.png);
    }
    .fondo-nafta{
        background-image: url(img/nafta-portada.png);
    }
    .fondo-cure{
        background-image: url(img/the-cure-portada.png);
    }
    .fondo-one{
        background-image: url(img/and-one-fondo.png);
    }
    .fondo-boris{
        background-image: url(img/boris4.png);
    }

    p.tendencia-hover{
        font-size: 80%;
        padding: 10px;
    }

    .lista-index1{
        grid-template-columns: repeat(3,1fr);
    }

    .article{
        display: grid;
        grid-template-columns: 1;
        justify-items: center;
        align-items: center;
    }

    .columna1{
        width: 80%;
        margin-top: 40px;
        position: relative;
        padding: 0;
    }

    .columna2{
        width: 80%;
        padding-bottom: 35px;
        padding-top: 20px;
    }
}

@media (max-width: 760px){

    .modal-content {
        padding: 0px;
        margin-top: 50px;
        font-size: 100%;
    }

    .objeto2-1{
        font-size: 75%;
        position: relative;
        bottom: 20px;
    }
    .LogonavInfo img{
        width: 50px;
    }
    .center-fav h1{
        font-size: 20px;
    }
    .boton-fav{
        font-size: 30%;
    }
    .form-artistas button{
        font-size: 90%;
        padding: 15px;
    }
    .center-fav h1{
        margin-bottom: 15px;
    }
    .tabla-artistas {
        min-width: 100%;
        font-size: 70%;
    }
    .form-artistas label{
        font-size: 95%;
    }
}


@media (max-width: 700px){
    .item-ayuda{
        min-width: 300px;
    }
    .grid-ayuda .paises-min{
        min-width: 300px;
    }
}


@media (max-width: 750px){
    .item-ayuda3 {
        min-width: 300px;
    }
}

@media (max-width: 750px){

    .item-index a{
        padding: 5px;
    }
    
    .contenedor-tendencia .tendencia-hover{
        font-size: 65%;
        padding: 10px;
    }

    .item-index:hover .tendencia-hover{
        height:10%;
    }

    .nav-derecha ul li{
        margin-bottom: 75px;
    }
    
    .objeto2{
        right: 45px;

    }

    .objeto2 p{
        font-size: 100%;
    }
    
    .AyudaCuenta4 i{
        font-size: 65%;
    }

    .AyudaCuenta2 h1{
        font-size: 200%;
    }
}

@media (max-width: 750px){
    
    

    .ft-columna1{
        width: 100px;
    }
    
    .ft-columna2{
        width: 100px;
    }

    .consultaAqui{
        font-size: 90%;
    }

    .item-index .titulo-foto-index{
        font-size: 95%;
        font-weight: 400;
        overflow: hidden;
        
    }

    .marqueeNav {
        width: 100%;
        animation: marquee 10s linear infinite;
    }

    @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        
        100% {
          transform: translateX(calc(-90%));
        }
      }

    .nav-derecha{
        width: 45px;
    }

    .nav-arriba{
        width: calc(100% - 60px);
    }
    
   .mainIndex{
    padding-right: 50px;
   }

   .logo-index img{
    width: 100px;
    }

    .logo-index .logo-index1 h1{
        font-size: 250%;
    }

    .logo-index .logo-index1 p{
        font-size: 12px;
    }

    .logo-index1 .logo-index{
        font-size: 50%;
    }
}

@media (max-width: 760px){
    .Index1 .artista1{
        background-image: url(img/dm-portada.png);
        
    }

    .Index1 .artista2{
        background-image: url(img/pcportada2.png);
    }

    .Index1 .artista4{
        background-image: url(img/the-cure-portada2.png);
    }

    .portada-artistas{
        height: 11rem;
    }

    .portada-artistas h1{
        font-size: 220%;
        padding-left: 7px;
    }

    .contenedor-cancion .lista-album img{
        width: 55px;
    }

    .portada-artistas p{
        font-size: 70%;
    }

    .contenedor-cancion .reproducir i{
        font-size: 100%;
    }

    .contenedor-cancion .reproducir .boton-play{
        font-size: 92%;
    }

    .contenedor-cancion .reproducir .boton-pausa{
        font-size: 94%;
    }

    .contenedor-cancion .reproducir img{
        width: 14px;
    }

    .formulario, .inicio-sesion{
        width: 280px;
        margin-top: 90px;
        margin-bottom: 90%;
    }
}

@media (max-width: 750px){

    .canciones .contenedor-cancion{
        height: 45px;
    }

    .footer{
        margin-right: 55px;
    }

    .lista-populares h2{
        font-size: 130%;
    }

    .artistas-populares h2{
        position: relative;
        right: 5px;
    }

    .lista-index .artistas-populares h3{
        font-size: 130%;
    }

    .cancion-nombre{
        align-items: center;
        align-content: center;
        grid-template-columns: 85% 15%;
        grid-template-rows: 30px;
        grid-template-areas: "nombre duracion"
        "oyentes duracion";
    }

    .nombre1{
        grid-area: nombre;
    }

    .oyentes1{
        grid-area: oyentes;
    }

    .sin-oyentes{
        display: none;
    }

    .duracion1{
        grid-area: duracion;
    }

    .cancion-nombre .nombre1{
        font-size: 100%;
    }
    
    .cancion-nombre .oyentes1{
        font-size: 75%;
    }
    
    .cancion-nombre .duracion1{
        font-size: 75%;
    }

    .portada-artistas{
        padding: 5px;
    }

    .lista-populares{
        padding: 5px;
    }

    .Index1 .discografia{
        padding: 15px;
    }

    .Index1 .portada1 .logo-index1 h1{
        font-size: 130%;
    }

    .Index1 .portada1 img{
        width: 130px;
    }

    .Index1 .portada1 .logo-index1 p{
        font-size: 70%;
    }

    .contenedor-cancion .cancion-nombre .grupo1{
        display: grid;
        grid-template-rows: 25px;  
    }

    .logo-index .logo-index1 .mini-imagen img{
        width: 20px;
    }

    .footer .redes-sociales{
        padding: 0px;
    }
    
    .footer .redes-sociales::after{
        width: 35%;
    }
    .footer .redes-sociales::before{
        width: 35%;
    }

    .footer .redes-sociales i{
        font-size: 100%;
    }

    .footer .privacidad{
        font-size: 80%;
    }

    .footer .logo-footer{
        gap: 0px;
    }

    .footer .ft-centrado{
        gap: 0px;
    }

    .footer .logo-footer img{
        width: 55px;
    }
    .footer .ft-centrado h4{
        font-size: 90%;
    }
    .footer .ft-centrado a{
        font-size: 80%;
    }

    .footer2{
        width: 100%;
    }

    .formulario .inicio-sesion, .titulo{
        font-size: 160%;
    }

    .artista6{
        background-image: url(img/boris4.png);
    }
}

@media (max-width: 650px){
    .item-index:hover  .tendencia-hover{
        height:15%;
    }
    p.tendencia-hover{
        font-size: 55%;
        padding: 10px;
    }
    
}

@media (max-width: 500px){
    i.boton-hover{
        width: 35px;
        height: 35px;
        font-size: 15px;
    }
}

@media (max-width: 560px){
    .form-artistas2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .search-box {
        min-width: 80%;
    }
    .search-box input {
        min-width: 70%;
    }
    *{
        font-size: 97%;
    }
    .contenedor-tendencia .tendencia-hover{
        font-size: 60%;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px){
    i.boton-hover{
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}


